.t-head{
	background: #4682B4;
    color: white;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
	--bs-table-accent-bg: #fff;
}

.table-striped>tbody>tr:nth-of-type(even)>*{
	--bs-table-accent-bg: #87CEEB;
}